pre {
    padding: 10px;
    white-space: pre;
    margin: 0;
    border-radius: 0 0 4px 4px !important;
    border: 0 !important;
    word-break: break-all;
    word-wrap: break-word;
    counter-reset: itemcounter;
}
pre .line-numbers-rows {
    counter-increment: itemcounter;
    position: absolute;
    left: 1px;
    width: 34px;
    text-align: center;
    color: #999;
}

.code-pre-line, code-box {
    position: relative;
    display: block
}

code-box {
    margin: 5px;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 11px -2px rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 6%);
    box-shadow: 0 4px 11px -2px rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 6%);
}

.code-hljs-len {
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 73px;
    height: 22px;
    line-height: 22px;
    padding: 0 6px;
    border-radius: 2px;
    color: #999;
    font-size: 12px;
    background-color: hsla(0, 0%, 90.2%, .1);
    visibility: hidden;
}

code-box .code-tools {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    min-height: 1.2rem;
    color: rgba(238,255,255,0.8);
    font-size: 14px;
    border-radius: 4px 4px 0 0;
    height: 16px;
    padding: 6px;
}

code-box .code-tools:after {
    position: absolute;
    left: 12px;
    top: 11px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fc625d;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    content: ' ';
}

pre .line-numbers-rows:before {
    content: counter(itemcounter)
}
.code-pre-line {
    padding-left: 44px !important
}
.code-copay-btn {
    position: absolute;
    top: 6px;
    right: 8px;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 24px;
    display: flex;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    padding: 1px 0 0 2px;
    border: none;
    border-radius: 6px;
    color: #999;
    opacity: 0;
    visibility: hidden;
    background-color: hsla(0, 0%, 90.2%, .2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    z-index: 1;
}